In [1]:
# Importar las librerías a utilizar
import pandas as pd
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("notebook", font_scale=1, rc={"lines.linewidth": 2,'font.family': [u'times']})

import matplotlib.pylab as plt
import numpy as np
from sklearn import metrics

In [2]:
# Leer los datos a analizar
pace = pd.read_csv("Pace of life.csv", na_values = ' ')
print('shape: ', pace.shape)
pace.head() 
pace.tail()

shape:  (36, 5)

           City  Walk  Bank  Talk  Heart
31      Memphis    16    29    21     14
32     San Jose    17    25    18     19
33   Shreveport    17    22    15     15
34   Sacramento    16    24    10     18
35  Los Angeles    20    13    12     16

In [3]:
print ("Min en Walk:", pace['Walk'].min())
print ("Min en Bank:", pace['Bank'].min())
print ("Min en Talk:", pace['Talk'].min())
print ("Min en Heart:", pace['Heart'].min())

Min en Walk: 12
Min en Bank: 13
Min en Talk: 10
Min en Heart: 11

In [4]:
print ("Min en Walk:", pace['Walk'].max())
print ("Min en Bank:", pace['Bank'].max())
print ("Min en Talk:", pace['Talk'].max())
print ("Min en Heart:", pace['Heart'].max())

Min en Walk: 30
Min en Bank: 34
Min en Talk: 30
Min en Heart: 31

In [ ]:
# Crear tres distribuciones con datos aleatorios
# MAXN = 40 # Valor máximo para los datos
# X = np.concatenate()

In [5]:
pace.shape

(36, 5)

In [11]:
# Convertir valores categoricos a numéricos
pace['City'] = pace['City'].astype('category').cat.codes
pace

    City  Walk  Bank  Talk  Heart
0      2    28    31    24     24
1      3    23    30    23     29
2     20    24    29    18     31
3     27    28    28    23     26
4      7    22    27    30     26
5     34    25    26    24     20
6     24    26    30    24     17
7     32    30    28    21     19
8     25    22    33    18     26
9     14    22    33    22     24
10    33    23    22    23     26
11    12    25    30    20     25
12    22    23    32    23     14
13     1    18    29    25     11
14     0    27    25    27     19
15     9    22    24    14     24
16    35    23    27    24     20
17    13    22    26    24     13
18     6    23    24    25     20
19    23    12    31    19     18
20    16    23    27    17     16
21     4    20    28    18     19
22    15    20    21    17     23
23    29    22    19    18     11
24     5    14    34    22     27
25     8    20    24    23     18
26    21    17    25    19     15
27    19    26    25    19     20
28    28    19    20    22     18
29    10    23    22    23     21
30    11    13    26    22     11
31    18    16    29    21     14
32    30    17    25    18     19
33    31    17    22    15     15
34    26    16    24    10     18
35    17    20    13    12     16

In [17]:
# Uso de clasificación por KMeans
from sklearn.cluster import KMeans
clu = KMeans(n_clusters = 3)
clu.fit(pace)
clu.cluster_centers_

array([[22.75      , 18.75      , 23.41666667, 17.25      , 16.91666667],
       [ 7.        , 21.46666667, 27.53333333, 22.8       , 20.73333333],
       [28.        , 24.88888889, 28.33333333, 22.        , 22.11111111]])

In [26]:
print(pace['Walk'].min())
print(pace['Walk'].max())

12
30

In [19]:
# Función que recibe un DataFrame, una proporción y el nombre de la clase,
# y genera cuatro conjuntos de datos para entrenamiento
# y pruebas del algoritmo de aprendizaje
from sklearn.model_selection import train_test_split

def split_label(pace, test_size, label):
    train, test = train_test_split(pace, test_size=test_size)
    features = pace.columns.drop(label)
    train_X = train[features]
    train_Y = train[label]
    test_X = test[features]
    test_Y = test[label]
    return train_X, train_Y, test_X, test_Y

In [20]:
# Dividir el conjunto de datos 
train_X, train_Y, test_X, test_Y = split_label(pace, 0.2, 'Heart')

In [29]:
# Aplicar one hot encoding a la columna 
from sklearn.preprocessing import OneHotEncoder

one = OneHotEncoder(handle_unknown='ignore')

result = one.fit_transform(train_X['Walk'].values.reshape(-1,1)).toarray()
train_X_1 = train_X
train_X_1[['12', '13', '14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30']] = pd.DataFrame(result, index = train_X_1.index)
train_X_1

ValueError: Columns must be same length as key

In [12]:
# Aplicar escalamiento [0,1] a todos los valores
from sklearn.preprocessing import MinMaxScaler 
min_max = MinMaxScaler()
train_X_2 = min_max.fit_transform(train_X_1.values)
train_X_2 = pd.DataFrames(train_X_2, columns-train_X_1.columns)
train_X_2

NameError: name 'train_X_1' is not defined